body{
  background-color: papayawhip;
}

path.spiral {fill: none;}
.arc-text {
font: 14px "bodoni-urw", serif;
text-transform: uppercase;
font-weight: 100;
letter-spacing: 36;
}

h1 {
  text-align: center;
  font: 48px "bodoni-urw", serif;
  font-weight: 800;
}


.hover{
position: absolute;               
width: 225px;
opacity: .95;       
padding: 5px;       
background: black; 
border: 0px;
color: white;      
font: 18px "bodoni-urw";
text-transform: uppercase; 
text-align: center;       

}

