---
layout: default
---

<div class="container">
<div class="item">
<h1>{{ page.title }}</h1>
{{content}}
</div>
</div>
<div class="container">
 <div class="sigil-small">
	<img src="../img/sigilsvg/alchemy.svg" width="100%" />
	<h3><a href="alchemy">Sigil of the Alchemist's Guild</a></h3>
</div>

<div class="sigil-small">
<img src="../img/sigilsvg/peering.svg" width="100%" />
<h3><a href="peering">Sigil of the Peering Agreement</a></h3>
</div>

 <div class="sigil-small">
<img src="../img/sigilsvg/ntp.svg" width="100%" />
<h3><a href="timekeepers">Sigil of the Timekeepers</a></h3>
</div>

 <div class="sigil-small">
<img src="../img/sigilsvg/rir_sigil.svg" width="100%" />
<h3><a href="rir">Sigil of the Regional Telepathy Registries</a></h3>
</div>

<div class="sigil-small">
<img src="../img/sigilsvg/ipv4.svg" width="100%" //>
<h3><a href="runes">Sigil of the Unique Rune of the Fourth Order</a></h3>
</div>

<div class="sigil-small">
<img src="../img/sigilsvg/ipv6.svg" width="100%" //>
<h3><a href="runes">Sigil of the Unique Rune of the Sixth Order</a></h3>
</div>
</div>